body {
    margin: 0px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    background-color: red;
    vertical-align: middle;
}

.topbarbutton {
    /* height: 50%;
    margin: 2%; */
}

#gohome {
    width: 6vw;
}

.page {
    display: flex;
}

.leftbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    height: 95vh;
    background-color: blue;
    width: 5vw;    
}

.leftbarbutton {
    /* width: 90%;
    margin: 5%; */
}

.maincontent {
    background-color: aqua;
    height: 95vh;
    width: 95vw;
}
