<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <!-- Bootstrap include -->
    <link href="{{ bs_css }}" rel="stylesheet">
    <script src="{{ bs_js }}" defer></script>
    <!-- Bootstrap include -->

    <script src="{{ script_js }}" defer></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary pb-0 py-0">
    <div class="container">
        <a class="navbar-brand" href="#" id="main-page-logo">VataNasi</a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled">Регистрация</a>
                </li>
            </ul>
        </div>
        <div class="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="my-words-link">Мои слова</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="new-task-link">Новое задание</a>
                </li>
                <li class="nav-item dropdown" id="account-dropdown-menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Аккаунт
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}
</body>
</html>