{% extends "base.html" %}

{% block additional_include %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='for_categories.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between mt-2">
            <h1>Ваши категории слов</h1>
            {% include "categories_tools_buttons.html" %}
        </div>
        <div class="mx-3 mt-3">
            {% if not categories %}
                <div class="alert alert-secondary" role="alert">
                    Нет категорий. Добавьте новую.
                </div>
            {% endif %}
            {% if add_message %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <table class="table table-borderless" id="categories-table">
                {% for category in categories %}
                    <tr class="my-2">
                        <td class="table-secondary category-in-td">{{ category }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% include "new_modal.html" %}
        </div>
    </div>
{% endblock %}