{% extends "base.html" %}

{% block additional_include %}
    <link href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="container mt-5 d-flex">
        <form method="post">
            <legend class="mb-3">Выберите категории</legend>
            <div id="categories" class="mb-5">
                {% for cat_name in categories %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{ cat_name }}">
                        <label class="form-check-label">{{ cat_name }}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="check-type" name="check_type"
                       disabled>
                <label class="form-check-label" for="check-type">Мгновенная проверка</label>
            </div>
            <div class="row mb-5">
                <div class="col-auto">
                    <label for="amount" class="col-form-label">Максимальное количество слов в задании</label>
                </div>
                <div class="col-3">
                    <input type="number" id="amount" class="form-control" placeholder="Все" name="amount">
                </div>
            </div>
            {% if message %}
                <div class="alert alert-warning my-3" role="alert">{{ message }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Начать выполнение</button>
        </form>
    </div>
{% endblock %}