<div class="modal fade" id="newModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Новая категория слов</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="new-category-name" class="form-label">Новое название</label>
                        <input type="text" class="form-control" id="new-category-name">
                        <div class="form-text">Все названия категорий должны быть разными</div>
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary pull-right">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
