{% extends "base.html" %}

{% block additional_include %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='for_words.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between mt-2">
            <h1>Слова в категории {{ current_category }}</h1>
            {% include "tools_buttons.html" %}
        </div>
        <div class="mx-3 mt-3">
            {% if not words %}
                <div class="alert alert-secondary" role="alert">
                    Нет добавленных слов. Добавьте.
                </div>
            {% endif %}
            {% if message %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <table class="table table-borderless" id="categories-table">
                {% for word in words %}
                    <tr class="my-2">
                        <td class="table-secondary element-in-td">{{ word }}</td>
                    </tr>
                {% endfor %}
            </table>
{#            {% include "new_modal.html" %}#}
        </div>
    </div>
{% endblock %}