<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <!-- Bootstrap include -->
    <link href="{{ bs_css }}" rel="stylesheet">
    <script src="{{ bs_js }}" defer></script>
    <!-- Bootstrap include -->

    <script src="{{ script_js }}" defer></script>
    <script src="{{ for_auth_js }}" defer></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary pb-0 py-0">
    <div class="container">
        <a class="navbar-brand" href="#" id="main-page-logo">VataNasi</a> <!-- TODO: подставить норм ссылку. -->
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled">Авторизация</a>
                </li>
            </ul>
        </div>
        <div class="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Мои слова</a> <!-- TODO: подставить норм ссылку. -->
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Новое задание</a> <!-- TODO: подставить норм ссылку. -->
                </li>
                <li class="nav-item dropdown" id="account-dropdown-menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Аккаунт
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="mx-5">
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="username" aria-describedby="username-hint">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" aria-describedby="password-hint">
            </div>
            <div id="liveAlertPlaceholder"></div>
            <button type="button" id="login_btn" class="btn btn-primary">Авторизоваться</button>
        </form>
    </div>
</div>
</body>
</html>