<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <!-- Bootstrap include TODO: На деплое добавлять локально через url_for -->
    <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="../static/bootstrap/bootstrap.bundle.min.js" defer></script>
    <!-- Bootstrap include -->

    <script src="../static/script.js" defer></script> <!-- TODO: Заменить на url_for -->
    <script src="../static/for_registration.js" defer></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary pb-0 py-0">
    <div class="container">
        <a class="navbar-brand" href="#">VataNasi</a> <!-- TODO: подставить норм ссылку. -->
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled">Главная страница</a>
                </li>
            </ul>
        </div>
        <div class="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Мои слова</a> <!-- TODO: подставить норм ссылку. -->
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Новое задание</a> <!-- TODO: подставить норм ссылку. -->
                </li>
                <li class="nav-item dropdown" id="account-dropdown-menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Аккаунт
                    </a>  <!-- TODO: подставить норм ссылку. -->
                    <!--                    Будет добавляться через JS-->

                    <!--                    <ul class="dropdown-menu">-->
                    <!--                        <li><a class="dropdown-item" href="#">Действие</a></li>-->
                    <!--                        <li><a class="dropdown-item" href="#">Другое действие</a></li>-->
                    <!--                        <li>-->
                    <!--                            <hr class="dropdown-divider">-->
                    <!--                        </li>-->
                    <!--                        <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>-->
                    <!--                    </ul>-->

                    <!--                    Будет добавляться через JS-->
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="username" aria-describedby="username-hint">
            <div id="username-hint" class="form-text">Уникальное букво-циферное имя пользователя.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" aria-describedby="password-hint">
            <div id="password-hint" class="form-text">Пароль может содержать любые символы.</div>
        </div>
        <div class="mb-3">
            <label for="password_confirm" class="form-label">Подтвердите пароль</label>
            <input type="password" class="form-control" id="password_confirm">
        </div>
        <div id="liveAlertPlaceholder"></div>
        <button type="button" id="submit_registration" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>